Repository VladimirShaleev/ipaddress, changes with the labels that .github/labeler.yml gives for each.
All labels: source, tests, benchmark, documentation, package, CI

.github/labeler.yml:

source:
- changed-files:
  - any-glob-to-any-file: include/ipaddress/**

tests:
- changed-files:
  - any-glob-to-any-file: tests/**

benchmark:
- changed-files:
  - any-glob-to-any-file: benchmark/**

documentation:
- changed-files:
  - any-glob-to-any-file: 
    - doc/**
    - README.md

package:
- changed-files:
  - any-glob-to-any-file: package/**
  
CI:
- changed-files:
  - any-glob-to-any-file: .github/**/*

Update action versions
  .github/workflows/lint.yml
  .github/workflows/publish-doc.yml
  .github/workflows/publish-ppa.yml
  .github/workflows/tests.yml
Labels: CI

Add release yml
  .github/release.yml
Labels: CI

deploy: 1444534b70a3453df795173e6120963cfa70b2ec
  build.html
Labels: none

Update build guide
  doc/build-guide.md
Labels: documentation

deploy: 9479d3560581e515081c21cf36a983a55cec480d
  build.html
Labels: none

Update publish-ppa workflow
  .github/workflows/publish-ppa.yml
Labels: CI

Fix version in publish-ppa
  .github/workflows/publish-ppa.yml
Labels: CI

Add meta to doc header
  doc/header.html
Labels: documentation

Add meta to doc header
  doc/header.html
Labels: documentation

Add meta to doc header
  doc/header.html
Labels: documentation

Optimization the separation of address and scope id in ipv6 address.
  include/ipaddress/base-v6.hpp
  tests/CMakeLists.txt
Labels: source, tests

Fix CMake props
  CMakeLists.txt
  package/ipaddress-config.cmake.in
  tests/CMakeLists.txt
Labels: tests, package

Fix CMake props
  CMakeLists.txt
  include/ipaddress/ipv6-address.hpp
  package/ipaddress-config.cmake.in
  tests/CMakeLists.txt
Labels: source, tests, package

Update config
  CMakeLists.txt
  README.md
  include/ipaddress/config.hpp
Labels: source, documentation

Fix documentation build using msbuild
  README.md
  doc/CMakeLists.txt
  doc/Doxyfile.in
  doc/header.html
Labels: documentation

Add header for unicode support
  include/ipaddress/unicode.hpp
Labels: source

Add character converter for char16_t, char32_t and wchar_t
  include/ipaddress/unicode.hpp
  tests/CMakeLists.txt
  tests/unicode-tests.cpp
Labels: source, tests

Update unit tests for char_converter
  CMakeLists.txt
  include/ipaddress/errors.hpp
  include/ipaddress/unicode.hpp
  tests/unicode-tests.cpp
Labels: source, tests

Update error message for unexpected_symbol
  include/ipaddress/errors.hpp
  include/ipaddress/unicode.hpp
  tests/unicode-tests.cpp
Labels: source, tests

Add unicode support for fixed_string
  include/ipaddress/errors.hpp
  include/ipaddress/fixed-string.hpp
  tests/fixed-string-tests.cpp
Labels: source, tests

Update fixed_string
  include/ipaddress/fixed-string.hpp
  include/ipaddress/ip-address-iterator.hpp
  tests/fixed-string-tests.cpp
Labels: source, tests

Update unicode
  include/ipaddress/errors.hpp
  include/ipaddress/unicode.hpp
  tests/fixed-string-tests.cpp
Labels: source, tests

Rename nets::ipv4_is_global to nets::ipv4_is_public_network
  include/ipaddress/ip-networks.hpp
Labels: source

Update raise_error
  include/ipaddress/errors.hpp
  include/ipaddress/unicode.hpp
  tests/unicode-tests.cpp
Labels: source, tests

Add unit test for IPADDRESS_CHAR_IS_UTF8
  tests/unicode-tests.cpp
Labels: tests

Add documentation for installation using vcpkg
  README.md
Labels: documentation

deploy: 0f38455b7815286f29fb0ac873cfffc6004c584e
  index.html
  search/all_15.js
  search/all_4.js
Labels: none

Add documentation for installation using conan
  README.md
Labels: documentation

deploy: 237800911c2528360075671b9a7b9ea8cf10fdcf
  index.html
Labels: none

Add unit tests for unicode
  include/ipaddress/errors.hpp
  include/ipaddress/uint128.hpp
  include/ipaddress/unicode.hpp
  tests/fixed-string-tests.cpp
  tests/ipv4-address-tests.cpp
Labels: source, tests

Change char_converter to char_reader
  include/ipaddress/fixed-string.hpp
  include/ipaddress/unicode.hpp
  tests/unicode-tests.cpp
Labels: source, tests

Refactoring
  include/ipaddress/byte-array.hpp
  include/ipaddress/hash.hpp
  include/ipaddress/ip-address-iterator.hpp
  include/ipaddress/ip-any-iterator.hpp
  include/ipaddress/ip-network-iterator.hpp
  include/ipaddress/ipv4-address.hpp
  include/ipaddress/ipv4-network.hpp
  include/ipaddress/ipv6-network.hpp
  include/ipaddress/uint128.hpp
Labels: source

Add support char_reader to parsers
  include/ipaddress/base-v4.hpp
  include/ipaddress/base-v6.hpp
  include/ipaddress/ip-address-base.hpp
  include/ipaddress/ip-any-address.hpp
  include/ipaddress/ip-any-network.hpp
  include/ipaddress/ip-network-base.hpp
  include/ipaddress/ipv6-address.hpp
Labels: source

Refactoring
  include/ipaddress/endian.hpp
  include/ipaddress/fixed-string.hpp
  include/ipaddress/unicode.hpp
Labels: source

Update unit tests
  include/ipaddress/errors.hpp
  include/ipaddress/unicode.hpp
  tests/fixed-string-tests.cpp
  tests/ip-address-tests.cpp
  tests/ipv4-address-tests.cpp
  tests/ipv6-address-tests.cpp
  tests/unicode-tests.cpp
Labels: source, tests

Support char_reader for clang compiler
  include/ipaddress/errors.hpp
  include/ipaddress/ipv6-address.hpp
  include/ipaddress/unicode.hpp
  tests/ipv4-address-tests.cpp
  tests/ipv6-address-tests.cpp
  tests/unicode-tests.cpp
Labels: source, tests

Add unit tests
  tests/ip-address-tests.cpp
  tests/ip-network-tests.cpp
  tests/ipv4-network-tests.cpp
  tests/ipv6-network-tests.cpp
Labels: tests

Refactoring
  include/ipaddress/endian.hpp
Labels: source

Update config
  include/ipaddress/config.hpp
Labels: source

Refactoring
  include/ipaddress/base-v4.hpp
  include/ipaddress/base-v6.hpp
  include/ipaddress/ip-network-base.hpp
  include/ipaddress/unicode.hpp
  tests/unicode-tests.cpp
Labels: source, tests
