Repository VladimirShaleev/ipaddress, changes with the labels that .github/labeler.yml gives for each.
All labels: source, tests, benchmark, documentation, package, CI

.github/labeler.yml:

source:
- changed-files:
  - any-glob-to-any-file: include/ipaddress/**

tests:
- changed-files:
  - any-glob-to-any-file: tests/**

benchmark:
- changed-files:
  - any-glob-to-any-file: benchmark/**

documentation:
- changed-files:
  - any-glob-to-any-file: 
    - doc/**
    - README.md

package:
- changed-files:
  - any-glob-to-any-file: package/**
  
CI:
- changed-files:
  - any-glob-to-any-file: .github/**/*

Update base parsing with set IPADDRESS_NO_EXCEPTIONS
  include/ipaddress/ip-address-base.hpp
  include/ipaddress/ip-network-base.hpp
Labels: source

Remove bounding checks for fixed_string and byte_array
  include/ipaddress/byte-array.hpp
  include/ipaddress/fixed-string.hpp
  tests/fixed-string-tests.cpp
Labels: source, tests

Update the latest version in README and Doc to v1.1.0
  README.md
Labels: documentation

deploy: 15d7037729e34536d15fa9a073c9b1aefd8ebe91
  index.html
Labels: none

Updating versions in README
  README.md
  doc/cpp-module.md
Labels: documentation

deploy: fffbd6cb64df8be25de2e3d992771a0fa57bd97c
  index.html
  module.html
Labels: none

Update the vcpkg package URL in the Readme
  README.md
Labels: documentation

deploy: a9b00e5aee8903a4ca3c6b6ed081c71745df869e
  index.html
Labels: none

Upgrade versions
  .github/workflows/lint.yml
  .github/workflows/publish-doc.yml
  .github/workflows/publish-ppa.yml
  .github/workflows/tests.yml
  CMakeLists.txt
  doc/CMakeLists.txt
  doc/Doxyfile.in
  doc/build-guide.md
  doc/footer.html
  doc/header.html
  include/ipaddress/uint128.hpp
Labels: source, documentation, CI

Update workflow of tests
  .github/workflows/tests.yml
Labels: CI

fix appleclang workflow tests for "no-exceptions"
  .github/workflows/tests.yml
Labels: CI

Add ipv6_mapped() method to ipv4_address and ip_address
  include/ipaddress/ip-any-address.hpp
  include/ipaddress/ipv4-address.hpp
  include/ipaddress/ipv6-address.hpp
  tests/ip-address-tests.cpp
  tests/ipv4-address-tests.cpp
Labels: source, tests

Update doc
  include/ipaddress/ip-any-address.hpp
  include/ipaddress/ipv6-address.hpp
  include/ipaddress/ipv6-network.hpp
Labels: source

Update is_private logic to match IANA standards
  include/ipaddress/ip-networks.hpp
  tests/ip-address-tests.cpp
  tests/ip-network-tests.cpp
  tests/ipv4-address-tests.cpp
  tests/ipv4-network-tests.cpp
  tests/ipv6-address-tests.cpp
  tests/ipv6-network-tests.cpp
Labels: source, tests

Update runners in workflow
  .github/workflows/lint.yml
  .github/workflows/publish-ppa.yml
  .github/workflows/tests.yml
Labels: CI

Update runners in workflow
  .github/workflows/lint.yml
  .github/workflows/publish-ppa.yml
  .github/workflows/tests.yml
Labels: CI

Update testing workflow
  .github/workflows/lint.yml
  .github/workflows/publish-doc.yml
  .github/workflows/publish-ppa.yml
  .github/workflows/tests.yml
Labels: CI
