Repository VladimirShaleev/ipaddress, changes with the labels that .github/labeler.yml gives for each.
All labels: source, tests, benchmark, documentation, package, CI

Update performance tests for new parsers
  CMakeLists.txt
  doc/benchmark.md
Labels: documentation

Update unit tests
  include/ipaddress/ip-address-iterator.hpp
  include/ipaddress/ip-any-address.hpp
  include/ipaddress/unicode.hpp
  tests/ip-address-tests.cpp
  tests/ip-network-tests.cpp
  tests/ipv4-network-tests.cpp
  tests/ipv6-network-tests.cpp
Labels: source, tests

Refactoring
  tests/ip-address-tests.cpp
  tests/ipv6-address-tests.cpp
Labels: tests

Add support for input stream overriding for Unicode.
  include/ipaddress/ip-address-base.hpp
  include/ipaddress/ip-any-address.hpp
  include/ipaddress/ip-any-network.hpp
  include/ipaddress/ip-network-base.hpp
  tests/ip-address-tests.cpp
  tests/ip-network-tests.cpp
  tests/ipv4-address-tests.cpp
  tests/ipv4-network-tests.cpp
  tests/ipv6-address-tests.cpp
  tests/ipv6-network-tests.cpp
Labels: source, tests

Add string_converter
  include/ipaddress/ip-address-base.hpp
  include/ipaddress/unicode.hpp
  tests/ipv4-address-tests.cpp
Labels: source, tests

Update ip_address
  include/ipaddress/ip-address-base.hpp
  include/ipaddress/ip-any-address.hpp
  tests/ip-address-tests.cpp
  tests/ipv4-address-tests.cpp
  tests/ipv6-address-tests.cpp
Labels: source, tests

Add converter for ip_address_base to Unicode string
  include/ipaddress/ip-network-base.hpp
  tests/ipv4-network-tests.cpp
  tests/ipv6-network-tests.cpp
Labels: source, tests

Add converter for ip_network to Unicode string
  include/ipaddress/ip-any-network.hpp
  include/ipaddress/ip-network-base.hpp
  tests/ip-network-tests.cpp
Labels: source, tests

Add additional member functions from_string to uint128_t
  include/ipaddress/uint128.hpp
  tests/uint128-tests.cpp
Labels: source, tests

Add additional member functions to_string to uint128_t
  include/ipaddress/uint128.hpp
  tests/uint128-tests.cpp
Labels: source, tests

Refactoring
  tests/ip-address-tests.cpp
  tests/ip-network-tests.cpp
  tests/ipv4-address-tests.cpp
  tests/ipv4-network-tests.cpp
  tests/ipv6-address-tests.cpp
  tests/ipv6-network-tests.cpp
  tests/uint128-tests.cpp
Labels: tests

Update set scope id
  include/ipaddress/base-v6.hpp
  include/ipaddress/ipv6-address.hpp
  include/ipaddress/uint128.hpp
  include/ipaddress/unicode.hpp
  tests/ip-address-tests.cpp
  tests/ip-network-tests.cpp
  tests/ipv4-address-tests.cpp
  tests/ipv4-network-tests.cpp
  tests/ipv6-address-tests.cpp
  tests/ipv6-network-tests.cpp
  tests/uint128-tests.cpp
Labels: source, tests

Refactoring
  include/ipaddress/uint128.hpp
  tests/ip-address-tests.cpp
  tests/ip-network-tests.cpp
  tests/ipv4-address-tests.cpp
  tests/ipv4-network-tests.cpp
  tests/ipv6-address-tests.cpp
  tests/ipv6-network-tests.cpp
Labels: source, tests

Update unit tests
  tests/ip-address-tests.cpp
  tests/ip-network-tests.cpp
  tests/ipv4-address-tests.cpp
  tests/ipv4-network-tests.cpp
  tests/ipv6-network-tests.cpp
  tests/uint128-tests.cpp
Labels: tests

Refactoring
  include/ipaddress/base-v4.hpp
  include/ipaddress/base-v6.hpp
  include/ipaddress/fixed-string.hpp
  include/ipaddress/ip-network-base.hpp
  include/ipaddress/unicode.hpp
  tests/ip-address-tests.cpp
  tests/ip-network-tests.cpp
Labels: source, tests

Update doc
  doc/tutorial.md
Labels: documentation

Refactoring
  tests/ip-address-tests.cpp
  tests/ip-network-tests.cpp
  tests/unicode-tests.cpp
Labels: tests

Update macros in config file
  include/ipaddress/config.hpp
  include/ipaddress/ip-address-iterator.hpp
  include/ipaddress/ip-any-iterator.hpp
  include/ipaddress/uint128.hpp
  include/ipaddress/unicode.hpp
  tests/ip-address-tests.cpp
  tests/ip-network-tests.cpp
  tests/ipv4-address-tests.cpp
  tests/ipv4-network-tests.cpp
  tests/ipv6-address-tests.cpp
  tests/ipv6-network-tests.cpp
Labels: source, tests

deploy: 73bad7851b7eaa5456fb7d6ccdc5b2b457492bb1
  config_8hpp_source.html
  ip-address-iterator_8hpp_source.html
  ip-any-iterator_8hpp_source.html
  ip-any-network_8hpp_source.html
  uint128_8hpp_source.html
  unicode_8hpp_source.html
Labels: none

doxygen-awesome-css updated to the latest version 2.3.3
  doc/CMakeLists.txt
Labels: documentation

Fixed breaks the constant expression analyzer in code editors for some toolchains
  .clang-tidy
  include/ipaddress/base-v6.hpp
  include/ipaddress/ip-networks.hpp
  include/ipaddress/ipv6-address.hpp
  tests/ipv4-network-tests.cpp
  tests/ipv6-network-tests.cpp
Labels: source, tests

Add Unicode parsing support for uint128_t.
  include/ipaddress/base-v6.hpp
  include/ipaddress/ip-any-address.hpp
  include/ipaddress/ip-any-network.hpp
  include/ipaddress/ipv6-address.hpp
  include/ipaddress/uint128.hpp
Labels: source

Update configuration and tutorial doc
  doc/tutorial.md
  include/ipaddress/base-v6.hpp
  include/ipaddress/errors.hpp
  include/ipaddress/uint128.hpp
Labels: source, documentation

Update set_scope_id
  include/ipaddress/ipv6-address.hpp
Labels: source

Update ipv6_set_scope::change()
  include/ipaddress/ipv6-address.hpp
Labels: source

deploy: 228b20e4e22cadb98f017aec3eadb0ebea2b791b
  base-v6_8hpp_source.html
  classipaddress_1_1ip__address__base.html
  classipaddress_1_1ip__network__base.html
  classipaddress_1_1ipv6__address__base-members.html
  classipaddress_1_1ipv6__address__base.html
  classipaddress_1_1ipv6__address__base.js
  doxygen-awesome-tabs.js
  doxygen-awesome.css
  errors_8hpp_source.html
  ip-address-base_8hpp_source.html
  ip-any-address_8hpp_source.html
  ip-any-network_8hpp_source.html
  ip-network-base_8hpp_source.html
  ip-networks_8hpp_source.html
  ipv6-address_8hpp_source.html
  namespaceipaddress.html
  navtreeindex3.js
  search/all_12.js
  search/functions_f.js
  tutorial.html
  uint128_8hpp_source.html
Labels: none

Add cpp module
  CMakeLists.txt
  include/ipaddress/base-v4.hpp
  include/ipaddress/base-v6.hpp
  include/ipaddress/byte-array.hpp
  include/ipaddress/config.hpp
  include/ipaddress/endian.hpp
  include/ipaddress/errors.hpp
  include/ipaddress/fixed-string.hpp
  include/ipaddress/ip-address-base.hpp
  include/ipaddress/ip-address-iterator.hpp
  include/ipaddress/ip-any-address.hpp
  include/ipaddress/ip-any-iterator.hpp
  include/ipaddress/ip-any-network.hpp
  include/ipaddress/ip-network-base.hpp
  include/ipaddress/ip-network-iterator.hpp
  include/ipaddress/ipv4-address.hpp
  include/ipaddress/ipv4-network.hpp
  include/ipaddress/ipv6-address.hpp
  include/ipaddress/ipv6-network.hpp
  include/ipaddress/optional.hpp
  include/ipaddress/uint128.hpp
  include/ipaddress/unicode.hpp
  src/CMakeLists.txt
  src/ipaddress.ixx
  tests/CMakeLists.txt
  tests/fixed-string-tests.cpp
  tests/ip-address-tests.cpp
  tests/ip-network-tests.cpp
  tests/ipv4-address-tests.cpp
  tests/ipv4-network-tests.cpp
  tests/ipv6-address-tests.cpp
  tests/ipv6-network-tests.cpp
  tests/uint128-tests.cpp
  tests/unicode-tests.cpp
Labels: source, tests

Export cpp module for ninja build
  package/ipaddress-config.cmake.in
  src/CMakeLists.txt
Labels: package

Add doc page for C++ module
  CMakeLists.txt
  doc/Doxyfile.in
  doc/benchmark.md
  doc/cpp-module.md
  doc/error-handling.md
  src/CMakeLists.txt
Labels: documentation

Disable IPADDRESS_BUILD_MODULE by default
  CMakeLists.txt
  src/CMakeLists.txt
Labels: none

Update cxx-modules cpp module
  src/CMakeLists.txt
Labels: none

Add identifiers to documentation headers
  doc/CMakeLists.txt
  doc/benchmark.md
  doc/build-guide.md
  doc/error-handling.md
  doc/network-operations.md
  doc/tutorial.md
Labels: documentation

Remove CXX_MODULES_BMI
  src/CMakeLists.txt
Labels: none

Update cpp-module doc
  doc/cpp-module.md
Labels: documentation

Add unit tests for cpp module
  .github/workflows/tests.yml
  doc/build-guide.md
Labels: documentation, CI

Fix tests
  .github/workflows/tests.yml
Labels: CI

Update doc
  .github/workflows/lint.yml
  .github/workflows/tests.yml
  doc/cpp-module.md
Labels: documentation, CI

Update cpp-module.md doc
  doc/cpp-module.md
Labels: documentation

Fix workflows
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Labels: CI

Fix noexcept(noexcept(func))
  include/ipaddress/unicode.hpp
Labels: source

.github/labeler.yml:

source:
- changed-files:
  - any-glob-to-any-file: include/ipaddress/**

tests:
- changed-files:
  - any-glob-to-any-file: tests/**

benchmark:
- changed-files:
  - any-glob-to-any-file: benchmark/**

documentation:
- changed-files:
  - any-glob-to-any-file: 
    - doc/**
    - README.md

package:
- changed-files:
  - any-glob-to-any-file: package/**
  
CI:
- changed-files:
  - any-glob-to-any-file: .github/**/*
